<div class="flex flex-column align-items-center">
    <header class="p-3 text-center">
        <h1>Bem-vindo ao FiberWave!</h1>
    </header>
    <main class="flex flex-column w-6">
        <p>🚀Teste a velocidade e eficiência da Sua Internet em Segundos!</p>
        <p>Estamos felizes em ter você aqui. Na FiberWave, oferecemos a ferramenta mais precisa e rápida para medir a qualidade da sua conexão. Quer saber se está aproveitando ao máximo sua banda larga? Deseja identificar problemas de lentidão? Nós estamos aqui para ajudar!</p>
    
        <h2 class="text-base font-normal">🔍 O que você pode fazer aqui:</h2>
        <ul>
            <li>Teste de Velocidade: Verifique rapidamente a velocidade de download, upload e latência.</li>
            <li>Análise de Eficiência: Avalie a estabilidade e desempenho da sua conexão ao longo do tempo.</li>
            <li>Gráficos Detalhados: Visualize os dados da sua conexão de forma clara e informativa.</li>
        </ul>
    
        <nav class="flex gap-3 justify-content-center mt-3">
            <p-button 
                label="Começar"
                (onClick)="goToPlanta()"
            />


        
        </nav>
    </main>

</div>