<header class="nav">

  <div class="flex justify-content-between pr-5 align-items-center">
    <a routerLink="">
      <img  class="logo" src="../assets/logo.jpeg">
    </a>
  
    <!-- <span *ngIf="!ehHome()">
      <nav class="flex gap-3 justify-content-center">
        <p-button  
            label="Mapa"
            (onClick)="goToPlanta()"
        />
    
        <p-button 
            label="Gráficos"
            (onClick)="goToGraficos()"
        />
      </nav>
  
    </span> -->

  </div>
</header>

<router-outlet/>