
<div class="flex justify-content-center">
  <div style="width: 80%;">
    <main class="grid">
      <!-- Calçada -->
      <div class="col-12 text-center h-5rem bg-gray-400">Calçada</div>
    
      <!-- Casa 1 - Esquerda -->
      <section class="col-6">
        <div class="grid">
  
          <!-- Lavanderia + Banheiro -->
          <div class="col-2 h-20rem bg-gray-200">
            Lanvaderia + Banheiro
          </div>
    
          <!-- Quarto 2 -->
          <div class="col-5">
            Quarto 2
          </div>
    
          <!-- Cozinha -->
          <div class="col-5 bg-gray-200">
            Cozinha
          </div>
    
          <!-- Corredor -->
          <div class="col-12 h-5rem bg-gray-300">
            Corredor
          </div>
    
          <!-- Quarto 1 -->
          <div class="col-7 h-10rem bg-gray-200">
            Quarto 1
          </div>
    
          <!-- Sala -->
          <div class="col-5">
            Sala
          </div>
        </div>
      </section>
    
      <!-- Casa 2 - Direita   -->
      <section class="coluna col-6">
        <div class="grid">
          
          <!-- Cozinha -->
          <div class="col-5 bg-gray-200">
              Cozinha
          </div>
          
          <!-- Quarto 2 -->
          <div class="col-5">
            Quarto 2
          </div>
    
          <!-- Lavanderia + Banheiro -->
          <div class="col-2 h-20rem bg-gray-200">
            Lanvaderia + Banheiro
          </div>
    
          <!-- Corredor -->
          <div class="col-12 h-5rem bg-gray-300">
            Corredor
          </div>
    
          <!-- Sala -->
          <div class="col-5">
            Sala
          </div>
          
          <!-- Quarto 1 -->
          <div class="col-7 h-10rem bg-gray-200">
            Quarto 1
          </div>
        </div>
      </section>
    </main>
    
  </div>

  
</div>